@media screen and (max-width: 360px)  {
    .navbar{
        width: 100%;
    }
    .navbar-menu{
        display: grid;
        grid-template: auto auto;
    }
}
/* @media screen and (max-width:400px) {
    .navbar{
        width: 100%;
    }
    
    
} */